{
	# Required for any Caddyfile using the WebDAV plugin
	order webdav before file_server
}

:8080 {
	# pocketbase
	redir /_ /_/
	handle /_/* {
		reverse_proxy localhost:8090
	}

	redir /api /api/
	handle /api/* {
		reverse_proxy localhost:8090
	}

	# Browser Only 
	redir /browse /browse/
	handle /browse/* {
		uri strip_prefix /browse
		file_server browse {
			root ./data
		}
	}

	# Must connect with finder
	# !NOTWORK IN BROWSER
	redir /webdav /webdav/
	handle /webdav/* {
		webdav {
			root ./data
			prefix /webdav/
		}
	}

	redir /volume /volume/
	handle /volume/* {
		reverse_proxy localhost:5005
	}

	# sveltekit
	reverse_proxy localhost:3000
}
