{
	order webdav before file_server
	log default {
		output stdout
		format console
	}
}

:8080 {
	# pocketbase
	redir /_ /_/
	handle /_/* {
		reverse_proxy localhost:8090
	}

	redir /api /api/
	handle /api/* {
		reverse_proxy localhost:8090
	}

	# Browser Only 
	redir /browse /browse/
	handle /browse/* {
		uri strip_prefix /browse
		file_server browse {
			root ../
		}
	}

	# Must connect with finder
	# !NOTWORK IN BROWSER
	redir /webdav /webdav/
	handle /webdav/* {
    basicauth {
      krist7599555 "$2a$12$coppS8mVF3Hlk5pb7dAePuLSIkg/UXhHOeaZw5pKfv816.pYXBitC"
    }
		webdav {
			root ../
			prefix /webdav/
		}
	}

	reverse_proxy localhost:3000
}
