[tools]
bun = "1.2"
"github:pocketbase/pocketbase" = "0.36.2"

[env]
POCKETBASE_URL = "https://caddybase-1127231159831134265.rcf2.deploys.app"

[tasks.caddy]
run = "./bin/caddy-with-webdav run --config ./Caddyfile"

[tasks.pocketbase-dev]
run = """
pocketbase serve \
  --http 0.0.0.0:8090 \
  --dir ./data/pb_data \
  --migrationsDir ./data/pb_migrations \
  --publicDir ./data/pb_public
"""

[tasks.pocketbase-prod]
run = """
pocketbase serve \
  --http 0.0.0.0:8090 \
  --dir /data/pb_data \
  --migrationsDir /data/pb_migrations \
  --publicDir /data/pb_public
"""

[tasks.svelte-dev]
run = "bun --bun vite dev --port 3000"

[tasks.svelte-prod]
run = "PORT=3000 bun ./build/index.js"

[tasks.dev]
depends = ["caddy", "pocketbase-dev", "svelte-dev"]

[tasks.prod]
depends = ["caddy", "pocketbase-prod", "svelte-prod"]
